* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html{
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    overflow-x: hidden; /* Prevent horizontal overflow */
  width: 100%; /* Ensure the body and html take full width */
}
.btn-lightgreen {
background-color: #709900 !important;
text: black !important;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.parallax-bg {
    background: url('https://github.com/soulfire-singularity/cyber-nut/assets/81447958/76692a30-1454-40ad-a1fe-e571ff22f40c') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    position: absolute;
    z-index: -1;
    width: 100%; /* Ensure header takes full width */
    filter: blur(5px); /* Add blur effect here */
  
}
.parallax-content {
    position: relative;
    z-index: 1;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5); /* Adjust the overlay to ensure text readability */
}
.parallax-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
section {
padding: 0 15px; /* Add padding to avoid overflow from content */
}

.timeline {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%; /* Ensure header takes full width */
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #ddd;
}

.timeline-item {
    position: relative;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.timeline-item:nth-child(odd) {
    left: 0;
    text-align: right;
}

.timeline-item:nth-child(even) {
    left: 50%;
    text-align: left;
}

.timeline-item h3 {
    margin: 0 0 10px;
}

.timeline-item p {
    margin: 0;
}

#skills .card {
    transition: transform 0.3s, box-shadow 0.3s;
}

#skills .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#skills .card:hover i {
    transform: scale(1.2);
}

#follow-me i {
    transition: transform 0.3s, color 0.3s;
}

#follow-me a:hover i {
    transform: scale(1.2);
    color: #007bff;
}

footer {
    background: #222;
    color: #fff;
    padding: 20px 0;
    width: 100%; /* Ensure header takes full width */
} 
