body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    overflow-x: hidden; /* Prevent horizontal overflow */
  width: 100%; /* Ensure the body and html take full width */
}

.parallax-bg {
    background: url('https://github.com/soulfire-singularity/cyber-nut/assets/81447958/56becd7c-7bc9-42b7-aeb4-4053fbc204a4') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}



.timeline {
    position: relative;
    margin: 0;
    padding: 0;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #ddd;
}

.timeline-item {
    position: relative;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.timeline-item:nth-child(odd) {
    left: 0;
    text-align: right;
}

.timeline-item:nth-child(even) {
    left: 50%;
    text-align: left;
}

.timeline-item h3 {
    margin: 0 0 10px;
}

.timeline-item p {
    margin: 0;
}

#skills .card {
    transition: transform 0.3s, box-shadow 0.3s;
}

#skills .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#skills .card:hover i {
    transform: scale(1.2);
}

#follow-me i {
    transition: transform 0.3s, color 0.3s;
}

#follow-me a:hover i {
    transform: scale(1.2);
    color: #007bff;
}

footer {
    background: #222;
    color: #fff;
    padding: 20px 0;
}
